:root {
    --bs-font-sans-serif: "Roboto", sans-serif;
    --bs-body-font-weight: 300;
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #001443;
}

h1 {
    font-size: calc(1.75rem + 1.75vw);
}
h3 {
    font-size: calc(1.25rem + 1.25vw);
}

a {
    font-weight: 400;
}